## Example: sparse regression by `nl_causal`
> Below is an example that demonstrates the usage of `sparse_reg` in `nl_causal`.

## Simulate Data

In [27]:
## import libraries

from nl_causal.sparse_reg import WLasso, SCAD, SCAD_IC, L0_IC
from sklearn.datasets import make_regression
import numpy as np

np.set_printoptions(precision=3)
## simulated datasets

X, y, coef = make_regression(n_samples=10, n_features=5, noise=0.1, n_informative=1, coef=True, random_state=42)

print('true coef is:')
print(coef)

true coef is:
[ 0.    14.092  0.     0.     0.   ]

**Fit linear model by sparse regression methods**

**Methods**
- WLasso
- SCAD 

**Notes**
- `ada_weight` is the weight that multiplies the penalty term for each coefficient, controlling the variables to be selected. For example, when `ada_weight = [1, 1, 0, 0, 0]`, it means that the penalty term is applied equally to the coefficients for the first two features, and no penalty is applied to the coefficients for the last three features. Alternatively, we select over the first two features, and we do NOT select the last three features.

In [28]:
## Fit by WLasso
clf = WLasso(alpha=1.0, ada_weight=[1, 1, 0, 0, 0])
clf.fit(X, y)
print(clf.coef_)

[ 0.    12.16  -0.325  0.538  0.204]

In [29]:
## Fit by SCAD
clf = SCAD(alpha=1.0, ada_weight=[1, 1, 0, 0, 0])
clf.fit(X, y)
print(clf.coef_)

[ 0.000e+00  1.407e+01 -1.123e-02 -2.569e-02 -1.468e-02]

**Model selection by sparse regression methods with alphas**

The steps are conducted by follows.
- Given a range of `alphas`
- Fit with a `sparse_reg`, such as `WLasso` or `SCAD`, generating candidate models
- Refit candidate models by `sparse_reg`, then select the best model based on a `critera`

**SCAD_IC**
- generating candidate models by `SCAD`
- refit candidate models by `SCAD`

**L0_IC**
- generating candidate models by `SCAD`
- refit candidate models by `OLS`

In [53]:
## model selection by SCAD_IC
from nl_causal import sparse_reg
clf = sparse_reg.L0_IC(alphas=[.001, .01, .1, 1.])
clf.fit(X, y)
print(clf.coef_)
clf.selection_summary()

[ 0.    14.071  0.     0.     0.   ]

             model      criteria         mse
0     (0, 1, 3, 4)      1.930493    0.005473
1           (1, 2)      1.531616    0.005808
2        (1, 2, 3)      1.715279    0.005555
3        (1, 3, 4)      1.714873    0.005553
4     (1, 2, 3, 4)      1.932343    0.005483
5             (1,)      1.367517    0.006166
6  (0, 1, 2, 3, 4)      2.151293    0.005422
7               ()  21218.630616  115.048146
8           (1, 3)      1.558414    0.005953

In [49]:
## model selection by L0_IC
clf = L0_IC(alphas=[.001, .01, .1, 1.])
clf.fit(X, y)
print(clf.coef_)
clf.selection_summary()

[ 0.    14.071  0.     0.     0.   ]

             model      criteria         mse
0     (0, 1, 3, 4)      1.930493    0.005473
1           (1, 2)      1.531616    0.005808
2        (1, 2, 3)      1.715279    0.005555
3        (1, 3, 4)      1.714873    0.005553
4     (1, 2, 3, 4)      1.932343    0.005483
5             (1,)      1.367517    0.006166
6  (0, 1, 2, 3, 4)      2.151293    0.005422
7               ()  21218.630616  115.048146
8           (1, 3)      1.558414    0.005953